<ion-view class="background" view-title="Library">
    <ion-content ng-controller="bookmarkCtrl">
  


        <!-- <div class="list card">
            <div class="item item-avatar">
                <img ng-src= "{{selectedTrack.playlist[1].cover_url}}"> -->
               <!--  <ul ng-repeat="bookmark in bookmarkList">
                <li>{{bookmark.artist}}</li>
                <li>{{bookmark.title}}</li>
                </ul> -->
            
         <!--    <div ng-repeat="bookmark in bookmarkList" class="item item-body">
                <img class="full-image" src="http://data.whicdn.com/images/43228099/original.jpg">
                <p>
                    {{bookmark.title}}
                </p>
                <p>{{bookmark.artist}}</p> -->
         
            <div class="list" ng-repeat="bookmark in bookmarkList">

    <a class="item item-thumbnail-left" href="#">
      <img src="../img/elogo.png">
      <h2>{{bookmark.artist}}</h2>
      <p>{{bookmark.title}}</p>
    </a>



</div>


         <!--    </div>
            </div>
        </div> -->
    </ion-content>
</ion-view>
