<ion-modal-view class="login">
    <ion-header-bar class="bar-assertive">
        <h1 class="title">Musolist</h1>
        <div class="buttons">
            <button class="button button-clear" ng-click="closeLogin()">Close</button>
        </div>
    </ion-header-bar>
    <ion-content>
        <!-- <div class="login"></div>
 -->
        <form ng-submit="doLogin()">
            <div class="list">
                <label class="item item-input item item-trns">
                    <span class="input-label"><b>Username</b></span>
                    <input type="text" ng-model="loginData.username">
                </label>
                <label class="item item-input item item-trns">
                    <span class="input-label"><b>Password</b></span>
                    <input type="password" ng-model="loginData.password">
                </label>
                <label class="item item item-trns">
                    <center>
                        <button class="button button-assertive ion-music-note item item-trns" type="submit">Log in</button>
                    </center>
                </label>
        </form>
    </ion-content>
</ion-modal-view>

