<ion-view class="custom" view-title="Pod Player">
    <ion-header-bar class="bar-assertive">
        <h1 class="title">Pod Player</h1>
        <div class="buttons">
            <button class="button button-clear" ng-click="closePod()">Close</button>
        </div>
    </ion-header-bar>
    <ion-content ng-controller="ExampleController">
        <div>
            <div class="item item-avatar">
                <img src="../img/musoimage.png">
                <p>{{selectedTrack.title}}
                    <p>
                        <p>{{selectedTrack.date}}</p>
                        <img class = "size" ng-src = "{{selectedTrack.playlist[1].cover_url}}"/>
            </div>
            <div class="item tabs tabs-secondary tabs-icon-left">
                <div class="item item-image">
                </div>
                <a class="tab-item dark" ng-click="play(selectedTrack.track)">
                    <i class="icon ion-music-note assertive"></i> Start Podcast
                </a>
                <a class="tab-item dark" ng-click="pause()">
                    <i class="icon ion-pause assertive"></i> Pause
                </a>
                <a class="tab-item dark" ng-click="podcastPosition()">
                    <i class="icon ion-bookmark assertive"></i> Bookmark
                </a>
            </div>
        </div>
    </ion-content>
    <div class="bar bar-footer bar-assertive">
        <div class="title">Music for locals, by locals</div>
    </div>
</ion-view>
