/* Empty. Add your own CSS if you like */

.track {
    .track__bg {
        position: absolute;
        height: 100%;
        top: 0;
        z-index: -1;
    }
}

.home {
   background: url('../img/Vinyl.jpg') no-repeat center center fixed;
   -webkit-background-size: cover;
   -moz-background-size: cover;
   background-size: cover;
}


.login {
    background: url('../img/concert.jpg') no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
}

.item.item-trns,
.list {
    border-color: rgba(0, 0, 0, 0);
    background-color: rgba(0, 0, 0, 0);
    color: white;
    opacity: 0.85;
}

.custom {
    background-color: #D3D3D3 !important;
    /* This sets the background color*/
}


/*Set the background to transparent for ion-item*/

.custom .item {
    background-color: transparent;
    border: none;
    /*Removes all borders*/
    border-top: 1px transparent;
    /*Top Border for each menu item*/
    border-bottom: 2px transparent;
    /*Bottom border for each menu item*/
    border-color: red;
    /*Sets colors for top and bottom border*/
    color: red;
    /*Text color for each item*/
}


/*Changes the border for the last item*/

.custom .item:last-child {
    border-bottom: 2px transparent red;
}

.custom .item-complex .item-content,
.dark .item-radio .item-content {
    background-color: transparent;
}


/*Just makes the type white*/
.custom h1,
.custom h2,
.custom h3,
.custom p,
.custom a {
    color: black;
    /*Text color for each item, overrides the color property above*/
}

.background,
.background .pane,
.background .item,
.background .item-complex .item-content {
    background-color: #D3D3D3;
}
